<mat-card class="example-card">
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
  />
  <mat-card-content> asd </mat-card-content>
  <mat-card-actions class="card-actions">
    <mat-chip-list>
      <mat-chip class="chip">
        <mat-chip-avatar class="chip-avatar">
          <mat-icon>
            <span class="material-symbols-outlined"> task_alt </span>
          </mat-icon>
        </mat-chip-avatar>
        Disponible
      </mat-chip>
    </mat-chip-list>
    <button class="btn-add-cart" mat-button>
      <mat-icon>shopping_cart</mat-icon> Agregar al carrito
    </button>
  </mat-card-actions>
</mat-card>
