<mat-toolbar class="custom-toolbar">
  <span>AB Accesorios</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    matTooltip="Inicio"
    [routerLink]="'dashboard'"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>dashboard</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Cuenta"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>person</mat-icon>
  </button>
  <button
    mat-icon-button
    matTooltip="Cerrar sesión"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
