@import "../../../theme.scss";

.custom-file-upload {
  cursor: pointer;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px dashed mat-color($my-primary);
  border-radius: 16px;
  font-family: $custom-font;

  .mat-icon {
    color: mat-color($my-primary);
  }
}

#files-input {
  display: none;
}

.upload-with-images {
  cursor: pointer;
  font-size: 35px;
  .mat-icon {
    color: mat-color($my-primary);
  }
}

.images-container {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.example-card {
  max-width: 150px;

  .mat-card-title {
    font-size: 12px;
    margin-top: 6px !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mat-card-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .img-container {
    width: 150px;
    height: 150px;
  }

  .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para ajustar la imagen al contenedor sin deformarla */
    object-position: center center; /* Para centrar la imagen en el contenedor */
  }
}

.example-card {
  .mat-icon {
    background-color: transparent;
    color: mat-color($my-primary);
    border: transparent;
    cursor: pointer;
  }
  .favorite-icon {
    // color: mat-color($my-primary);
    color: gray;
    cursor: pointer;
  }
}

.isNotFavourite {
  .favorite-icon {
    display: none;
  }
}

.isFavourite {
  .favorite-icon {
    color: mat-color($my-primary);
    cursor: pointer;
    display: inline-block;
    width: 24px; /* ajusta el ancho al tamaño del ícono */
    height: 24px; /* ajusta el alto al tamaño del ícono */
  }
  .animated-icon {
    animation: scale-up-center 0.4s ease-in-out;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.scale-out-center {
  -webkit-animation: scale-out-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-center 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}
