<form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <h2 style="font-weight: 400">{{ title }}</h2>
  <div class="form-group">
    <div class="flex-container">
      <div class="width-30">
        <mat-form-field appearance="fill">
          <mat-label>Nombre de usuario</mat-label>
          <input
            matInput
            placeholder="Nombre de usuario"
            formControlName="username"
          />
          <mat-icon matSuffix>diamond</mat-icon>
          <!-- <mat-hint *ngIf="nombreInvalido">El campo nombre es requerido.</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="width-30">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="nombre" />
          <mat-icon matSuffix>diamond</mat-icon>
          <!-- <mat-hint *ngIf="nombreInvalido">El campo nombre es requerido.</mat-hint> -->
        </mat-form-field>
      </div>
      <div class="width-30">
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Apellido" formControlName="apellido" />
          <mat-icon matSuffix>diamond</mat-icon>
          <!-- <mat-hint *ngIf="nombreInvalido">El campo nombre es requerido.</mat-hint> -->
        </mat-form-field>
      </div>
    </div>

    <div class="flex-container">
      <div class="width-50">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email" />
          <mat-icon matSuffix>diamond</mat-icon>
          <mat-hint *ngIf="emailInvalido">Ingrese un mail valido.</mat-hint>
        </mat-form-field>
      </div>
      <div class="width-50">
        <mat-form-field appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput placeholder="Teléfono" formControlName="telefono" />
          <mat-icon matSuffix>diamond</mat-icon>
          <!-- <mat-hint *ngIf="nombreInvalido">El campo nombre es requerido.</mat-hint> -->
        </mat-form-field>
      </div>
    </div>

    <ng-container formGroupName="direccion">
      <div class="flex-container">
        <div class="width-50">
          <mat-form-field appearance="fill">
            <mat-label>Calle</mat-label>
            <input
              matInput
              placeholder="Calle"
              formControlName="direccionCalle"
            />
            <mat-icon matSuffix>diamond</mat-icon>
            <!-- <mat-hint *ngIf="nombreInvalido">El campo nombre es requerido.</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="width-50">
          <mat-form-field appearance="fill">
            <mat-label>Número</mat-label>
            <input
              matInput
              placeholder="Número"
              formControlName="direccionNumero"
            />
            <mat-icon matSuffix>diamond</mat-icon>
            <!-- <mat-hint *ngIf="nombreInvalido">El campo nombre es requerido.</mat-hint> -->
          </mat-form-field>
        </div>
      </div>

      <!-- mat autocomplete con iterando entre provinciasGeoRef.descripcion como option -->
      <mat-form-field>
        <mat-label>Provincia</mat-label>
        <input
          matInput
          placeholder="Provincia"
          type="text"
          formControlName="provinciaGeoRefId"
          [matAutocomplete]="auto"
        />
        <mat-icon matSuffix>diamond</mat-icon>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let provincia of provinciasGeoRefFiltered"
            [value]="provincia"
          >
            {{ provincia }}
          </mat-option>
        </mat-autocomplete>
        <!-- <mat-hint *ngIf="nombreInvalido">El campo nombre es requerido.</mat-hint> -->
      </mat-form-field>
    </ng-container>
  </div>
  <div class="button-wrapper">
    <button
      type="button"
      mat-raised-button
      (click)="onCancel()"
      matTooltip="Cancelar"
    >
      Cancelar
    </button>
    <button
      type="submit"
      color="primary"
      mat-raised-button
      [disabled]="formGroup.status == 'INVALID'"
      matTooltip="Guardar"
    >
      Guardar
    </button>
  </div>
</form>
