<mat-card class="example-card">
  <!-- <mat-card class="example-card" (mouseout)="fnHideHoverImage()"> -->
  <div class="img-container">
    <!-- <div class="img-container" (mouseover)="fnShowHoverImage()"> -->
    <img
      mat-card-image
      [src]="producto.imageURL"
    />
    <div *ngIf="showHoverImage" class="hover-image">
      <mat-icon>visibility</mat-icon>
    </div>
  </div>

  <mat-card-title
    >{{ producto.nombre }}
    <mat-chip-list>
      <mat-chip
        [ngClass]="{
          available: producto.disponible,
          'sold-out': !producto.disponible,
          chip: true
        }"
      >
        <mat-chip-avatar class="chip-avatar">
          <mat-icon>
            <span class="material-symbols-filld"> task_alt </span>
          </mat-icon>
        </mat-chip-avatar>
        {{ producto.disponible ? "Disponible" : "Agotado" }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-title>
  <mat-card-subtitle>
    {{ producto.marca.nombre }}
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      {{ producto.descripcion }}
      <br />
      <br />
      Medidas: {{ producto.medidas.alto }} x {{ producto.medidas.ancho }} x
      {{ producto.medidas.profundidad }}
      <br />
      <span style="font-size: 10px; color: gray"
        ><em>(alto x ancho x profundidad)</em></span
      >
    </p>
    <!-- <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div> -->
  </mat-card-content>
  <mat-card-actions class="card-actions">
    <span class="product-price"><b>AR$</b> {{ producto.precio }}</span>
    <mat-chip-list (click)="addToCart(producto)">
      <mat-chip class="chip btn-add-cart">
        <mat-chip-avatar class="chip-avatar">
          <mat-icon>
            <span class="material-symbols-filld"> add_shopping_cart </span>
          </mat-icon>
        </mat-chip-avatar>
        Añadir
      </mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>
