@import "./theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #fcfafa;
}

.mat-primary {
  color: mat-color($my-primary);
}

.mat-dialog-container {
  max-height: 80vh !important;
  min-width: 30vw;
  max-width: 80vw;

  .mat-input-element {
    color: black !important;
  }

  .mat-form-field {
    width: 100%;
  }

  .button-wrapper {
    display: flex;
    justify-content: end;
    gap: 15px;
    margin-top: 20px;
  }

  .mat-hint {
    color: red;
    font-size: 10px;
  }
}

// /* Scrollbar */
// /* width */
// ::-webkit-scrollbar {
//   width: 5px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: var(--color-secondary);
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: var(--color-primary);
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: var(--color-terciary);
// }

.mat-spinner {
  width: 100% !important;
  margin-top: 250px;
  svg {
    width: 100% !important;
    margin: auto;
  }
}

.error-message {
  background-color: #eecece;
  color: #861414;
  button {
    .mat-button-wrapper {
      color: #861414;
    }
  }
}

.success-message {
  background-color: #d8eece;
  color: #388614;

  button {
    .mat-button-wrapper {
      color: #388614;
    }
  }
}

.mat-simple-snackbar {
  font-size: 15px;
}

.mat-form-field-hint-wrapper{
  height: 18px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  width: 100%;
  align-items: center;
}

.width-100 {
  width: 100%;
  flex-basis: 100%;
  flex-grow: 1;
}

.width-50 {
  width: 100%;
  flex-basis: 45%;
  flex-grow: 1;
}

.width-33 {
  width: 100%;
  flex-basis: 31%;
  flex-grow: 1;
}

.width-25 {
  width: 100%;
  flex-basis: 23%;
  flex-grow: 1;
}

.mat-form-field-flex {
  background-color: transparent !important;

}
.mat-form-field-appearance-fill .mat-form-field-infix{
  padding: 0.25em 0 0.45em 0 !important;
}

.mat-form-field-disabled{
  .mat-form-field-flex{
    border-bottom: 1px solid rgba(00, 00, 00, .1);
    .mat-icon{
      color: mat-color($my-primary);
      opacity: .5;
    }
  }
}

.mat-input-element{
  height: 20px;
}

.mat-cell {
  font-size: 14px;
}

.mat-select-arrow-wrapper {
  transform: translateY(-50%);
  margin-right: 5px;
}