@import "./theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #fcfafa;
}

:root {
  --color-primary: #ef44a5;
  --color-secondary: #f6f6f6;
  --color-terciary: #ff9dc6;
  --color-contrast: #000000;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-terciary);
}

.mat-spinner {
  width: 100% !important;
  margin-top: 250px;
  svg {
    width: 100% !important;
    margin: auto;
    circle {
      stroke: var(--color-primary);
    }
  }
}

.error-message {
  background-color: #eecece;
  color: #861414;
  button {
    .mat-button-wrapper {
      color: #861414;
    }
  }
}

.success-message {
  background-color: #d8eece;
  color: #388614;

  button {
    .mat-button-wrapper {
      color: #388614;
    }
  }
}

.mat-simple-snackbar {
  font-size: 15px;
}
