/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-form-field {
  width: 100%;
}

.acciones {
  text-align: right;

  mat-icon {
    cursor: pointer;
  }

  mat-icon:nth-child(2) {
    margin-left: 10px;
  }
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: var(--color-primary) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: var(--color-primary) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: var(--color-primary) !important;
}

::ng-deep thead tr th {
  /*change color of underline when focused*/
  color: var(--color-primary) !important;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
