<div class="slide-in-bottom mt-5 mb-5">
  <div style="color: var(--color-primary)">
    <h1>{{ title }}</h1>
  </div>

  <mat-form-field class="mt-1">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table #table mat-table [dataSource]="dataSource" matSort>
      <!-- Agregar una columna por cada columna recibida en el input -->
      <ng-container *ngFor="let column of columns">
        <ng-container [matColumnDef]="column.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ column.label }}
          </th>
          <td mat-cell *matCellDef="let element" [class]="column.name">
            {{ element[column.property] }}
          </td>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="showColumnAction" matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="acciones">
          <mat-icon (click)="see(element)" matTooltip="Ver Usuario"
            >visibility</mat-icon
          >
          <mat-icon (click)="delete(element)" matTooltip="Eliminar Usuario"
            >delete</mat-icon
          >
        </td>
      </ng-container>

      <!-- Agregar la fila de paginación -->
      <tr mat-header-row *matHeaderRowDef="columnsName"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsName"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" style="text-align: center" colspan="5">
          No se encontraron {{ title }}.
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="opcionesPaginacion"
    ></mat-paginator>
  </div>
</div>
